<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'customer_home.css'%}" >
    <title>Customer home</title>
</head>
<body>
    <h2>Welcome {{username}}!</h2>
    <p><strong>Curated Cravings, Delivered.</strong>We don't just deliver food; we deliver an experience.
    Explore our hand picked selection of top-rated restaurants known for quality and consistency. <strong><br>Elevate your dinner plans.</strong></p>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>Cuisine</th>
                <th>Rating</th>
                <th>Other Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in restaurants %}
            <tr>
                <td>{{restaurant.name}}</td>
                <td><img src="{{restaurant.pictureurl}}" alt="{{restaurant.name}}" width="200px" height="150px"> </td>
                <td>{{restaurant.cuisine}}</td>
                <td>{{restaurant.rating}}</td>
                <td>
                    <a href="{% url 'view_menu' restaurant.id username %}">View Menu</a>
                </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</body>
</html>