h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin-top: 40px;
    color: rgb(0, 4, 112);
    border-color: darkgoldenrod;
}

body{
    margin: 0;
    padding: 0;
    background-color: beige;

}

#div1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 20px auto;
    background-image: repeating-radial-gradient(rgb(244, 234, 216),rgb(232, 171, 2));
    border-radius: 10px;
    width: 30%;
}

a{
    text-decoration: none;
    font-size: 1.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(97, 97, 95);

}

a:hover{
    color: rgb(46, 45, 45);
    transform: translateY(-5px);
}