body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(255, 217, 167);
    color: rgb(45, 45, 45);
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 40px auto;
    border: none;
}

td,th{
    padding: 15px;
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(45, 45, 45);
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3c3b3b;
}

h1,h2,h3,p{
    text-align: center;
    margin: 20px auto;
}

h3{
    font-size: 2em;
    font-style: italic;
    color: #3c3b3b;
    margin: 20px;
}

tr{
    border-collapse: collapse;
    border: none;

}

button{
    position: relative;
    left: 75%;
    top: 20px;
    margin: 20px;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    background-color: #3c3b3b;
    color: whitesmoke;
}
button:hover{
    background-color: #3c3b3bd4;
    cursor: pointer;
}