body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    box-sizing: border-box;
    color:rgb(10, 58, 71);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#cont{
    display: flex;
    flex-direction: column;
    padding: 20;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color:burlywood;
    margin: 40px auto;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(2, 49, 38);
    margin: -5px;
}
p{
    margin: -20px 0px 30px 0px;
}